# Ignore system files
.DS_Store

# Ignore MAMP-specific logs or configs if not needed
/logs/
/tmp/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore dependencies (if using Composer)
vendor/

frontend/node_modules/